@import "~bootstrap/scss/bootstrap.scss";
.bigCounter{
     text-align: center;
     background-color: black;
}
.bigCounter div{
      background-color: rgb(22, 22, 22);
      display: inline-block;
      font-size: 60px;
      padding: 10px;
      color: white;
      margin : 3px;
      line-height: 60px;
}

.one, .two, .three, .four, .calendar {
    line-height: 58px;
    background-color: rgb(32, 32, 32);
}
